.dashboard_screen{
    .media_dashboard{
        background-color: $very_dark_blue_top_bg;
        padding-top: 36px;
        height: 245px;
        @include mq( 'phone' ) {
            padding-left: 5px;
            height: 225px;
        }

        .top_div_wrapper{
            position: relative;
            .header{
                .header_title{
                    color: $white;
                    font-size: 28px;
                    @include mq( 'phone' ) {
                        font-size: 24px;
                        
                    }
                }
                .followers{
                    color: $desaturated_blue;
                    font-weight: $font_bold;
                    font-size: 14px;
                    margin-top: 3px;
                }
                .toggle_wrapper{
                    margin-top: 16px;
                    @include mq( 'phone' ) {
                        border-top: 1px solid $desaturated_blue;
                        margin-top: 23px;
                        padding-top: 19px;
                    }
                    .mode_txt{
                        color: $white;
                        font-size: 14px;
                        font-weight: $font_bold;
                    }
                    #toggle_switch{
                        margin-left: 13px;
                        padding: 3px 24px;
                        @include transition (all 200ms linear);
                        background: linear-gradient(to right, $toggle_gradient_start, $toggle_gradient_end);
                        border-radius: 30px;
                        position: relative;
                        cursor: pointer;

                        @include mq( 'phone' ) {
                            float: right;
                            padding: 11px 24px;
                            margin-right: 4px;
                        }

                        .circle{
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            background-color: $very_dark_blue_top_bg;
                            top: 50%;
                            left: 3px;
                            @include transform (translateY(-50%));
                            @include transition (all 200ms linear);
                        }
                    }
                }
            }
            .sm_stats{
                position: absolute;
                top: 100px;
                left: 0;
                width: 100%;
                @include mq( 'phone' ) {
                    top: 155px;
                }
                .col{
                    width: 255px;
                    padding: 32px;
                    background-color: $dark_desaturated_blue;
                    border-radius: 6px;
                    position: relative;
                    @include flex-direction(column);
                    overflow: hidden;
                    cursor: pointer;

                    &:hover{

                    }
                    @include mq( 'phone' ) {
                        width: 100%;
                        margin-bottom: 24px;
                        padding: 32px 0 23px;
                    }
                    .social_icon{
                        svg{
                            vertical-align: middle;
                        }
                        .username{
                            font-size: 12px;
                            margin-left: 4px;
                            color: $desaturated_blue;
                            font-weight: $font_bold;
                            vertical-align: middle;
                        }
                    }
                    .followers_no{
                        color: $white;
                        font-size: 53px;
                        margin-top: 19px;
                        font-weight: $font_bold;
                    }

                    .followers_txt{
                        color: $desaturated_blue;
                        font-size: 11px;
                        letter-spacing: 5.7px;
                    }   

                    .icon{
                        margin-top: 22px;
                        svg{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .icon_txt{
                            vertical-align: middle;
                            font-weight: $font_bold;
                            font-size: 13px;
                        }
                    }

                    &.fb{
                        .icon{
                            .icon_txt{
                                color: $lime_green;
                            }
                        }
                        &:after{
                            content:'';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            @include transform (translateX(-50%)) ;
                            background-color: $facebook;
                            width: 100%;
                            height: 5px;
                            border-top-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }

                    }

                    &.twitter{
                        .icon{
                            .icon_txt{
                                color: $lime_green;
                            }
                        }
                        &:after{
                            content:'';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            @include transform (translateX(-50%)) ;
                            background-color: $twitter;
                            width: 100%;
                            height: 5px;
                            border-top-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }

                    }

                    &.instagram{
                        .icon{
                            .icon_txt{
                                color: $lime_green;
                            }
                        }
                        &:after{
                            content:'';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            @include transform (translateX(-50%)) ;
                            background: linear-gradient(to right, $instagram_start, $instagram_end);
                            width: 100%;
                            height: 5px;
                            border-top-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }

                    }

                    &.youtube{
                        .icon{
                            .icon_txt{
                                color: $bright_red;
                            }
                        }
                        &:after{
                            content:'';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            @include transform (translateX(-50%)) ;
                            background-color: $bright_red;
                            width: 100%;
                            height: 5px;
                            border-top-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }

                    }
                }
            }
        }
    } 
    .overview_dashboard{
        // height: calc(100vh - 245px);
        background-color: $very_dark_blue;
        padding: 960px 0 100px;
        .header{
            .title{
                color: $white;
                font-size: 24px;
            }
        }

        .detailed_dashboard{
            width: 100%;
            margin-top: 23px;
            .col{
                background-color: $dark_desaturated_blue;
                width: 255px;
                padding: 25px 23px 20px;
                border-radius: 6px;
                margin-bottom: 24px;
                @include mq( 'phone' ) {
                    width: 100%;
                }
                .txt{
                    color: $desaturated_blue;
                    font-size: 13px;
                    font-weight: $font_bold;
                }
                .icon,.count_icon{
                    float: right;
                    margin-right: 8px;
                    
                    svg{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .count{
                    color: $white;
                    font-weight: $font_bold;
                    font-size: 30px;
                    margin-top: 23px;
                }
                .count_icon{
                    margin-top: 40px;
                    .number{
                        font-weight: $font_bold;
                        color: $lime_green;
                        font-size: 11px;
                    }
                    &.down{
                        .number{
                            color: $bright_red;
                        }
                    }
                }
            }
        }
    }
    &.activated_light_theme{

        .media_dashboard{
            .top_div_wrapper{

                .header{
                    
                    #toggle_switch{
                        @include transition (all 200ms linear);
                        background: $desaturated_blue;
                        .circle{
                            background-color: $white;
                            left: 27px;
                        }
                    }
                }
            }
        }
    }
}