// Site Width
$desk_width :  1440px;
$mob_width  : 375px;


:root {

  // ? Color Palatte
  
  --lime_green: #1db489;
  --bright_red: #dc414c;
  --facebook: #198ff5;
  --twitter: #1ca0f2;
  --instagram_start: #fdc468;  //linear gradient
  --instagram_end:  #df4996; //linear gradient
  --youtube: #c4032a;

  // Dark Theme

  --toggle_gradient_start: #378fe6;
  --toggle_gradient_end: #3eda82;

  --very_dark_blue : #1e202a;          //(BG)
  --very_dark_blue_top_bg : #1f212e;  //(Top BG Pattern)
  --dark_desaturated_blue : #252a41; //(Card BG)
  --desaturated_blue : #8b97c6;    //(Text)
  --white : #ffffff;               //(Text)

  // Light Theme  

  --very_pale_blue : #f5f7ff;     // (Top BG Pattern)
  --light_grayish_blue : #f0f2fa;  //(Card BG)
  --dark_grayish_blue : #63687e;     //(Text)
  --very_dark_blue_txt : #1e202a;      //(Text)
}

// Fonts

$font_family : 'Inter', sans-serif;
$body_font : 14px;
$font_light: 300;
$font_regular : 400;
$font_bold : 700;


/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
 $phone:            "screen and (max-width: 767px)";
 $tablet:           "screen and (min-width: 768px) and (max-width: 1024px)";
 $phone-and-tablet: "screen and (max-width: 1024px)";
 $tablet-and-up:    "screen and (min-width: 768px)";
 $tablet-portrait:  "screen and (min-width: 768px) and (max-width: 959px)";
 $tablet-landscape: "screen and (min-width: 960px) and (max-width: 1024px)";
 $lap:              "screen and (min-width: 1025px) and (max-width: 1219px)";
 $lap-and-up:       "screen and (min-width: 1025px)";
 $desk-and-up:      "screen and (min-width: 1220px)";
 $lap-and-desk:     "screen and (min-width: 1025px) and (max-width: 1679px)";
 $wide-and-up:      "screen and (min-width: 1680px)";
 $retina:           "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";
 
 @mixin mq($alias) {
   @if $alias == "phone" {
     @media #{$phone} {
       @content;
     }
   } @else if $alias == "tablet" {
     @media #{$tablet} {
       @content;
     }
   } @else if $alias == "phone-and-tablet" {
     @media #{$phone-and-tablet} {
       @content;
     }
   } @else if $alias == "tablet-and-up" {
     @media #{$tablet-and-up} {
       @content;
     }
   } @else if $alias == "tablet-portrait" {
     @media #{$tablet-portrait} {
       @content;
     }
   } @else if $alias == "tablet-landscape" {
     @media #{$tablet-landscape} {
       @content;
     }
   } @else if $alias == "lap" {
     @media #{$lap} {
       @content;
     }
   } @else if $alias == "lap-and-up" {
     @media #{$lap-and-up} {
       @content;
     }
   } @else if $alias == "desk-and-up" {
     @media #{$desk-and-up} {
       @content;
     }
   } @else if $alias == "lap-and-desk" {
     @media #{$lap-and-desk} {
       @content;
     }
   } @else if $alias == "wide-and-up" {
     @media #{$wide-and-up} {
       @content;
     }
   } @else if $alias == "retina" {
     @media #{$retina} {
       @content;
     }
   }
 }

 